.first-container {
    display: flex;
    flex-direction: column;
  }
  
  .container-pqrs {
    display: flex;
    background: rgba(171, 69, 244, 0.858);
    justify-content: center;
    margin: 8%;
    border-radius: 20px;
    align-items: center;
  }
  
  .section-pqrs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconsPqrs {
    color: rgb(240, 239, 245);
    font-size: 80px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .textPqrs {
    color: aliceblue;
    text-align: right;
    margin-right: 30px;
  }
  .imagePqrs {
    color: rgb(55, 11, 188);
    font-size: 180px;
    border-radius: 100%;
    margin-left: 50px;
    margin-right: 20px;
  }
  
  .layout-pqrs {
    width: 100%;
  
    display: flex;
    gap: 50px;
  }
  
  
  
  .grow-body {
    flex-grow: 1;
    flex-direction: column;
  }
  
  .font-ahorros{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .container-pqrs-body {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 8%;
    border-radius: 20px;
    align-items: center;
  }

  .area{
    height: 300px;
    border: 1px solid;
  }

  .area:focus{
    box-shadow: inset  0 0.5em 0.5em rgba(211, 117, 242, 0.1);
    border: 1px solid;
  }

  
  .borde-input{
    padding-bottom: 10px;
    display:block;
    border-radius: 10px;
    border:1px solid rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    
}
.borde-input .borderin:focus {
  box-shadow: inset  0 0.5em 0.5em rgba(211, 117, 242, 0.1);
}

.texto-borde{
  text-align: center;
    width: 132px;
    font-size:18px;
    margin-top:-15px;
    margin-left:7px;
    background:white;
    color: rgba(57, 55, 55, 0.737);
}

.borderin{
  outline: none;
  border: 0px;
}

.borderin:focus{
  outline: none;
  border: 0px;
  box-shadow: none;
}

.col-boton{
  display: flex;
  align-items: end;
  justify-content: end;
}

.btn1{
  width: 200px;
  background: rgb(202, 117, 235);
}

.btn1:hover{
  background: rgb(191, 73, 237);
}
