.container{
    position:sticky;
    border: 1px solid rgb(178, 135, 231);
    border-radius: 10px;
    background: rgba(171, 69, 244, 0.742);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.Main{
    background: transparent;
    z-index: 1;
    position: relative;
    transition: transform 0.5s ease 0s, box-shadow 0.5s ease 0s;
    top: 0;
}
.Logo{
    width:20%;
}
button{
    border: 0px;
    border-radius: 1px;
    margin: 2%;
    width: 110px;
    cursor: pointer;
    background-color: aliceblue;
}
.Button{
    display: flex;
    align-items: flex-end;
}

li{
    display: table-cell;
    position: relative;
    padding: 15px;
}
a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.10em;
    display: inline-block;
    padding: 5px 1px;
    position: relative;
}

a:hover:after{
    width: 100%;
    left: 0;
    background-color: #00fffc;
}

@media screen and (max-height: 300px) {
    ul{
        margin-top: 40px;
    }
    
}

.area-segura{
    height: 50px;
    width: 200px;
    background-color: rgb(118, 7, 238);
    border: 1px rgb(118, 7, 238);
    border-radius: 10px;
    font:bold;
    font-size: larger;
    font-style:oblique;
    font-family: fantasy;
    margin-right: 20px;
    color: #f9f7f7;
}

 