
.Header{
  position:sticky;
  height: fit-content;
  top: 20px;
  z-index: 10000;
  width: 100%;
  margin-bottom: 5px;
  
}
.Body{
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
}

.Footer{
  width: 100%;
}